
h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

h1:hover {
    background-color: beige;
    cursor: pointer;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    background-color: darkgray;
    border: 2px solid black;
}

a:hover {
    color: #fff;
    scale: 1.1;
}